.nav-item:hover .dropdown-menu {
  display: block;
}

input[type="text"] {
  width: 60%;
  padding: 0.5em;
  border: 1px solid #ccc;
  border-radius: 3px;
}

button[type="submit"] {
  padding: 0.5em 1em;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.main-menu {
  margin-top: 10px;
}
.content {
  width: 80%;
  margin: auto;
}
#recent,
#about {
  text-align: center;
  margin-top: 20px;
}

.text-muted {
  font-size: x-small;
}
.content .card {
  transition: 0.5s;
}

.content .card:hover {
  z-index: 2;
  transform: skew(10deg) scale(1.5);
}

#fixedDiv {
  background-color: #686d72;
  position: fixed;
  top: 19%;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 10;
}

.searchresult {
  position: absolute;
  z-index: 1;
}
.searchresult div {
  background-color: rgb(172, 172, 139);
  color: black;
  font-size: 11px;
  border: 1px solid black;
}

.navbar {
  background-color: #ffffff; /* White background color */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a box shadow */
}

.navbar a {
  color: #5a5a5a; /* Gray text color */
  font-weight: 500; /* Semibold font weight */
}

.navbar a:hover {
  color: #007bff; /* Blue hover color */
}

.navbar .active {
  background-color: #007bff; /* Blue active color */
  color: #ffffff; /* White active text color */
}

.navbar .searchbar {
  border-radius: 25px; /* Round search bar corners */
}

.navbar .btn {
  border-radius: 25px; /* Round button corners */
}

#contact .card {
  background-color: #ffffff; /* White card background */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a box shadow */
  transform: 0.7s;
}

#contact .card:hover {
  z-index: 2;
  transform: scale(1.4) rotate(7deg);
  transform: 1.5s;
}

#contact.card h4 {
  color: #5a5a5a; /* Gray text color */
  font-weight: 500; /* Semibold font weight */
}

#contact .card a {
  color: #007bff; /* Blue link color */
}

.card a:hover {
  color: #0056b3; /* Darker blue hover color */
}
.btn {
  border-radius: 25px; /* Round button corners */
}

#contact .btn-primary {
  background-color: #3b5998; /* Facebook blue color */
  border-color: #3b5998; /* Facebook blue color */
  color: #ffffff; /* White text color */
}

#contact .btn-info {
  background-color: #1da1f2; /* Twitter blue color */
  border-color: #1da1f2; /* Twitter blue color */
  color: #ffffff; /* White text color */
}

#contact .btn-danger {
  background-color: #cc181e; /* YouTube red color */
  border-color: #cc181e; /* YouTube red color */
  color: #ffffff; /* White text color */
}

#contact .btn-success {
  background-color: #e1306c; /* Instagram pink color */
  border-color: #e1306c; /* Instagram pink color */
  color: #ffffff; /* White text color */
}
